{% load i18n static extra_functions %}<!DOCTYPE html>

{% get_current_language as LANGUAGE_CODE %}{% get_current_language_bidi as LANGUAGE_BIDI %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %} >
<head>

<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static 'admin/bootstrap/css/bootstrap.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/AdminLTE.min.css' %}" >
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/skins/_all-skins.min.css' %}" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css" >
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css" >
<link rel="stylesheet" href="{% static 'admin/css/site.css' %}" >
<style type="text/css">.jqstooltip { position: absolute;left: 0px;top: 0px;visibility: hidden;background: rgb(0, 0, 0) transparent;background-color: rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";color: white;font: 10px arial, san serif;text-align: left;white-space: nowrap;padding: 5px;border: 1px solid white;z-index: 10000;}.jqsfield { color: white;font: 10px arial, san serif;text-align: left;}</style>
{% block extrastyle %}{% endblock %}
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" >{% endif %}
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" >{% endblock %}
</head>
{% load i18n %}

<body class="skin-blue sidebar-mini">

  <div class="wrapper">
  
  
   {% if not is_popup %}
    <!-- Header -->
	<header class="main-header">
  
        {% block branding %}{% endblock %}
		
        
		<nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>
      <!-- Navbar Right Menu -->
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
         
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              
              {{user|userimage}}
              <span class="hidden-xs">{% firstof user.get_short_name user.get_username %}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                
                {{user|userimage}}
                <p>
                  {% firstof user.get_short_name user.get_username %} - {{user|userpost}}
                  <small>Member since {{ user.date_joined|date:"b. Y"|title }}</small>
                </p>
              </li>
          <li class="user-footer">
                <div class="pull-left">
                  {% if user.has_usable_password %}
					<a href="{% url 'admin:password_change' %}" class="btn btn-default btn-flat" >{% trans 'Change password' %}</a> 
					{% endif %}
                </div>
                <div class="pull-right">
				{% if user.has_usable_password %}
                <a href="{% url 'admin:logout' %}" class="btn btn-default btn-flat">{% trans 'Log out' %}</a>
                {% endif %}
                  
                </div>
              </li>
            </ul>
          </li>
         
        </ul>
      </div>

    </nav>
		
		
        
        {% block usertools %}
        {% if has_permission %}
        <div id="user-tools">
            {% block welcome-msg %}
              
            {% endblock %}
            {% block userlinks %}
                
            {% endblock %}
        </div>
        {% endif %}
        {% endblock %}
        {% block nav-global %}{% endblock %}
    
	</header>
    <!-- END Header -->
	
	
	
	
	{% block ltemain-sidebar %}
	{% include 'adminlte/menu.html' %}
    {% endblock %}
  
  
<!-- Container -->
<div class="content-wrapper" style="min-height: 916px;">

   <section class="content">
   
   
   
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        {% for message in messages %}
          <p {% if message.tags %} class="{{ message.tags|convert_to_class_tag_message }}"{% endif %}>{{ message|capfirst }}</p>
        {% endfor %}
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
	 </section>
</div>
<!-- END Container -->
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script
  src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
  
<script src="{% static 'admin/bootstrap/js/bootstrap.min.js' %}" ></script>
<script src="{% static 'admin/plugins/fastclick/fastclick.js' %}"></script>
<script src="{% static 'admin/js/app.min.js' %}"></script>
<script src="{% static 'admin/plugins/sparkline/jquery.sparkline.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
<script src="{% static 'admin/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<script src="{% static 'admin/plugins/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'admin/plugins/chartjs/Chart.min.js' %}"></script>

</body>
</html>